#webform {
  background-color: var(--color-card-bg);
}
/* CSS Starter er tilføjet */
/* Generelle styles */

input {
  border: 1px solid var(--color-text);
  background-color: var(--color-card-bg);
  color: var(--color-text);
  padding: 0.25rlh;
  border-radius: 6px;
  box-shadow: 0px 1px 2px #0001;
}

button {
  border: 1px solid #ff0033;
  background-color: #ff0033;
  color: #fff;
  border-radius: 6px;
  padding: 0.25rlh 0.5rlh;
  cursor: pointer;
}

.error-message {
  color: #d84c4c;
}

/* Form layout */
form {
  display: grid;
  gap: 1rlh;
  padding: 1rlh;

  .form-group {
    display: grid;
    gap: 0.1rlh;
  }

  label:has(input) {
    display: flex;
    align-items: center;
    gap: 0.25rlh;
    justify-self: start;
  }
}

/* Pseudo-classes */
:focus-visible {
  /* virker til både knapper og input-felter, select, textarea, links mm. */
  outline: 2px solid slateblue;
  outline-offset: 1px;
}
/* Hover-styles */
button:hover {
  background: #222;
}
/* Active-styles (imens man klikker) */
button:active {
  scale: 0.98;
}

/* Valideringsregler */
.error-message {
  display: none;
}

.form-group:has(:required) {
  label::after {
    content: " *";
    color: #d84c4c;
  }
}

.form-group:has(:user-invalid) {
  input {
    outline: 3px solid #f005;
    border-color: #d84c4c;
  }
  .error-message {
    display: block;
  }
}
.form-group:has(:user-valid) {
  input {
    outline: 1px solid rgba(0, 128, 0, 0.429);
    border-color: darkgreen;
  }
}

#form-section,
#form-summary {
  background-color: var(--color-form-bg);
  color: var(--color-text);
  padding: 0;
}
#form-summary h2 {
  line-height: 3rem;
  text-align: center;
  background-color: var(--headline-bg-color-inverted);
  color: var(--headline-color-inverted);
  padding-top: 5px;
}
#form-summary h3 {
  font-size: 0.8rem;
  line-height: 0.8rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
#form-summary > *:not(:first-child) {
  margin: 0 clamp(1rem, 10%, 7rem);
}
#form-summary p {
  font-size: 0.9rem;
  line-height: 1.3;
  margin: 0 0 1.2rem 0;
  padding: 0;
  margin-top: 30px;
}
