html {
  font-family: var(--font-family-sans);
  color: var(--color-text);
}

header {
  height: min-content;
}

#main-disclamer {
  height: 225px;
  background-color: var(--color-head-bg);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2rem;
  padding-bottom: 2%;
  margin-bottom: var(--margin-head-bottom);
}

#main-disclamer-content {
  display: flex;
  column-gap: 1rem;
}

main section {
  padding: 20px;
  border-radius: var(--border-radius);
}

h1 {
  font-size: var(--font-h1-size);
  font-weight: var(--font-weight-bold);
  color: whitesmoke;
  margin: 5px 0;
  line-height: 1.3rem;
  text-align: left;
}

#instruction h1,
#register h1 {
  margin: 40px 0 20px 0;
  padding: 15px 30px;
  background-color: #ff0033;
  font-size: var(--font-h2-size);
}

#instruction p {
  grid-column: 1/-1;
  margin-bottom: 20px;
  font-size: 1rem;
  line-height: 1.5rem;
}

.sub {
  font-size: var(--font-sub1-size);
  color: whitesmoke;
  font-weight: 450;
}

h2 {
  font-size: 1.5rem;
}
#form-info h2 {
  text-align: center;
  margin: 20px 0;
}
h3 {
  font-size: var(--headline3-size);
  margin-top: 1.5rem;
}

main > h1 {
  width: calc(80% - 6rem);
}

/* NAVIGATION STRUCTURES */
header > nav {
  height: 100%;
  background-color: #8800ff;
}

nav ul {
  list-style: none;
}

a {
  font-family: var(--font-family-sans);
}

nav a {
  text-decoration: none;
  color: var(--color-text);
}

/* Måske skal du lave en ny regel for logotype-wrapper, når du har lavet din logotype */
#logotype-wrapper {
  background-color: #acf7f7;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 3.6rem;
}
#logotype-wrapper img {
  width: 80px;
  height: 50px;
}

#logotype-wrapper > a {
  color: black;
  font-size: var(--font-logotype-size);
  font-weight: var(--font-weight-medium);
  width: max-content;
  margin-left: 1rem;
  font-family: "Zen Dots", sans-serif;
}

/* Global menu */
header nav li a {
  margin: 1.5rem;
  background-color: #acf7f7;
  color: var(--color-text);
  font-size: var(--followup-text-size);
  padding: 0.5rem 1rem;
  border-radius: 12px;
  font-weight: 500;
}

/* Pilen efter menu-tekst */
header > nav li > a:after {
  content: " \2192";
}

/* Global menu hover effekt - Lav den om til det, du synes */
nav li a:hover {
  background-color: #ff0093;
}

nav a:active {
  background-color: var(--color-link-active);
}
