[popover] {
  padding: 1rem;
  max-width: 500px;
  margin: auto;
  background: var(--color-card-bg);
  border-radius: 8px;
  display: none;
  color: var(--color-text);
}

[popover] button {
  position: sticky;
  top: 0;
  justify-self: end;
  color: var(--color-text);
}

[popover]:popover-open {
  display: grid;
  gap: 1rem;
}

[popover]::backdrop {
  background: #0008;
  backdrop-filter: blur(5px);
}
[popover] h3 {
  margin-bottom: 15px;
  color: var(--color-text); /* Use color variable */
  clear: both;
}

[popover] p {
  margin-bottom: 15px;
  color: var(--color-text); /* Use color variable instead of fixed color */
  line-height: 1.6;
}
